main{
    background-color: #ABFF4F ;
}
header{
    margin: 3px;
    padding: 6px;
    overflow: hidden;
}
header, nav{
    background-color: #08bdbd

}
body{
    background-color: #009900;
    align-content: center;
    justify-content: center;
}

footer{
        font-family: 'Shadows Into Light', monospace, cursive;
        font-size: 8px;
}

h1 {
font-family: 'Henny Penny', cursive, sans-serif;
    font-size: 28px;
}

p{
    font-family: 'Shadows Into Light', monospace, cursive;
    font-size: 16px;
}

.cat {
    height:400px;
    width: 400px;
 background: url(KIDSimages/cat.svg); 
    background-color:white;
    background-repeat: no-repeat;
}

.dog {
    height:400px;
    width: 400px;
 background: url(KIDSimages/dog.svg);
    background-color: white;
    background-repeat: no-repeat;
}

.cow {
    height:400px;
    width: 400px;
 background: url(KIDSimages/cow.svg);
    background-color: #08BDBD;
    background-repeat: no-repeat;
}


    
nav{
    background-color: white;
    width:392px;
    margin: -15px;
    padding:2px;
}
.home #home {
    background-image: url(KIDSimages/barn.svg);
    background-color: white;
    background-repeat: no-repeat;
    width:300px;
    height:113px;
    padding: 40px;
    overflow:hidden;
}

.about #about {
    background-image: url(KIDSimages/dog.svg);
    background-color: white;
    background-repeat: no-repeat;
    width:100px;
    height:113px;
    margin: 1px;
    padding: 50px;
    overflow: hidden;
}
.gallery {
    background-image: url(KIDSimages/cow.svg);
    background-repeat: no-repeat;
    background-color: white;
    width:100px;
    height:113px;
    margin: 1px;
    padding:50px;
    padding-right: 64px;
    overflow: hidden;
    
}
    
    body {
        
    }

    #container {
        width: 200px;
        height: 229px;
        overflow: hidden;
        position: relative;
    }
        
    #cat {
        background: url(KIDSimages/cat.svg);
        background-color: white;
        background-repeat: no-repeat;
        width: 200px;
        height: 229px;
        left: 1px;
        top: 1px;
        position: absolute;
    }
        
    #dog {
        background: url(KIDSimages/dog.svg);
        background-color: white;
        background-repeat: no-repeat;
        width: 200px;
        height: 229px;
        left: 1px;
        top: 1px;
        position: absolute;
    }
        
    #cow {
        background: url(KIDSimages/cow.svg);
        background-color: white;
        background-repeat: no-repeat;
        width: 200px;
        height: 229px;
        left: 1px;
        top: 1px;
        position: absolute;
    }        
        
    button {
        padding: 10px;
        margin: 0 10px 10px 0;
    }
    h2 {

    font-family: 'Shadows Into Light', monospace, cursive;
    font-size: 16px;
        
}
     


	@media (max-width: 415px){ 
      body {
           
} 
    header{
        background-color: #FF9914;
        margin-left: 2px;
        margin-top: -10px;
    }
        #container {
            margin-left: 100px;
        }
        h2{
            margin-left: 140px;
        }
        
    main { 
          float:none;
          width: 100%; 
          align-content: center;
          justify-content: center;
          margin-right: -20px;
        }
        

   
      } 
    
      @media (min-width: 600px){ 
        body {
          float:none;
          width: 65%; 
          align-content: center;
          justify-content: center;
          margin-left: 120px;
          margin-top: 5px;}
}
nav{
    align-content: center;
    justify-content: center;
    margin-left: 50px;
}

header{
    width: 510px;
    margin-left: -3px;
    align-content: center;
    justify-content: center;
}

h1{
    margin-left: 70px;
}
p{
    align-content: center;
    margin-left: 10px;
}
          
 h2{
    margin-left: 175px;
          }
#container {
    margin-left: 125px;
          }

.home #home {
    background-image: url(KIDSimages/barn.svg);
    background-color: white;
    background-repeat: no-repeat;
    width:103px;
    height:90px;
    margin: 2px;
    margin-left: 37px;
    margin-right: 2px;
    padding: 30px;
    align-content: center;
    justify-content: center;
    
    overflow:hidden;
}

.about #about {
    background-image: url(KIDSimages/dog.svg);
    background-color: white;
    background-repeat: no-repeat;
    width: 103px;
    height: 100px;;
    margin: 2px;
    margin-left: 20px;
    padding: 30px;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.gallery {
    background-image: url(KIDSimages/cow.svg);
    background-repeat: no-repeat;
    background-color: white;
    width:103px;
    height:100px;;
    margin: 2px;
    margin-left: 34px;
    padding:50px;
    align-content: center;
    justify-content: center;
    
    overflow: hidden;
       }

       @media screen and (min-width: 900px) {
        body { 
          float:none;
          width: 75%; 
          align-content: center;
          justify-content: center;
          margin-left: 100px;
          margin-top: 5px;
        }
    header {
        width:1500px;
        height: auto;
        justify-content: center;
        margin-left: -20px;
        margin-top: 55px;
           }
           
    h1{
        margin-left:560px;
           }
           h2{
               margin-left: 450px;
           }
           
     p{
        margin-left: 500px;
           }
           
     nav{
        background-color: white;
        width:1450px;
            margin-left: 25px;
}
.home #home {
    background-image: url(KIDSimages/barn.svg);
    background-repeat: no-repeat;
    width:200px;
    height:auto;
    margin: 10px;
    margin-left: 250px;
    padding: 50px;
    padding-right: 10px;
    overflow:hidden;
}

.about #about {
    background-image: url(KIDSimages/dog.svg);
    background-repeat: no-repeat;
    width: 200px;
    height:auto;
    margin: 10px;
    margin-left: 250px;
    padding: 50px;
    padding-right: 10px;
    overflow: hidden;
}
.gallery {
    background-image: url(KIDSimages/cow.svg);
    background-repeat: no-repeat;
    width:200px;
    height:auto;
    margin: 10px;
    margin-left: 250px;
    padding:50px;
    padding-right: 10px;
    overflow: hidden;
    
}
     
           #container{
               margin-left: 400px;
           }
           
    main{
        margin-left: 200px;
           }
      }
