main{
    background-color: #ABFF4F ;
}
header{
    margin: 0px auto;
    padding: 6px;

    text-align: center;
    justify-content: center;
}
header, nav{
    background-color: #08bdbd;
    display: inline-block;
    text-align: center;
    justify-content: center;

}
body{
    background-color: #009900;
    align-content: center;
    justify-content: center;
}

footer{
    font-family: 'Shadows Into Light', monospace, cursive;
    font-size: 8px;
}

h1 {
font-family: 'Henny Penny', cursive, sans-serif;
    font-size: 28px;
}

p{
    font-family: 'Shadows Into Light', monospace, cursive;
    font-size: 16px;
}

.cat {
    height:400px;
    width: 400px;
    background: url(../images/KIDSimages/cat.svg); 
    background-color:white;
    background-repeat: no-repeat;
}

.dog {
    height:400px;
    width: 400px;
    background: url(../images/KIDSimages/dog.svg);
    background-color: white;
    background-repeat: no-repeat;
}

.cow {
    height:400px;
    width: 400px;
    background-image : url("../images/KIDSimages/cow.svg");
    background-color: #08BDBD;
    background-repeat: no-repeat;
}


    
nav{
    background-color: white;
    width:392px;
    margin: 0 auto;
    padding:2px;
}



#container {
    width: 200px;
    height: 229px;
    overflow: hidden;
    position: relative;
}
    
#cat {
    background: url(../images/KIDSimages/cat.svg);
    background-color: white;
    background-repeat: no-repeat;
    width: 200px;
    height: 229px;
    left: 1px;
    top: 1px;
    
}
    
#dog {
    background: url(../images/KIDSimages/dog.svg);
    background-color: white;
    background-repeat: no-repeat;
    width: 200px;
    height: 229px;
    left: 1px;
    top: 1px;
}
    
#cow {
    background-image: url("../images/KIDSimages/cow.svg");
    background-color: white;
    background-repeat: no-repeat;
    width: 200px;
    height: 229px;
    left: 1px;
    top: 1px;
}  


#container {
margin: 0 auto;
}      


  
button {
    padding: 10px;
    
}
h2 {

    font-family: 'Shadows Into Light', monospace, cursive;
    font-size: 16px;
        
}
     


@media (max-width: 415px){ 
    header{
        background-color: #FF9914;
        
        margin-top: -10px;
    }
    #container {
        
    }
    h2{
        
    }    
    main { 
          float:none;
          width: 100%; 
          align-content: center;
          justify-content: center;     
    }
} 




nav{
    align-content: center;
    justify-content: center;
    margin: 0 auto;

}

header{
    width: 510px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

h1{
    
}

p{
    align-content: center;
 
}
          
h2{
}




@media screen and (min-width: 900px) {
    body { 
        float:none;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5px;
    }
    header {
        width:900px;
        height: auto;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 55px;
    }
    nav{
        background-color: white;
        text-align:center;
        justify-content: center;
        
        margin: 0 auto;
        margin-top: 5px;
        display:inline-block;
    }         
    main{
        
        margin: 0 auto;
        width: 600px;
    }
}

.animalText {
    text-align: center;
}


.nav a{ 
 z-index: 1;
}

@media (min-width: 600px){ 
    body {
        width: 65%; 
        align-content: center;
        justify-content: center;
        display: flex;   
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 5px;
    }
    main { 
          float:none;
          width:  600px; 
          align-content: center;
          margin: 0 auto;
          justify-content: center;     
    }
}

header{
    margin-bottom: 20px;
    width: 100%;
}